.container {
  font-family: verdana;
}

.content {
  padding-top: 80px;
}

h1 {
  color: #FFA400;
  margin-top: 5px;
}

.topbar {
  position: fixed;
  width: 100%;
  background: #1049A9;
  height: 50px;
  padding: 10px;
  text-align: center;
  vertical-align: center;
}

.listingstyle {
  border: 1px dotted grey;
  width: 60%;
  margin: 10px auto;
  list-style-type: none;
}

.listingstyle {
  border: 1px dotted grey;
  width: 60%;
  margin: 10px auto;
  list-style-type: none;
}

.listingstyle .title {
  font-size: 20px;
  font-weight: bold; 
}

.listingstyle .title a {
  text-decoration: none; 
  color: #FF3500;
}
