<div class="container">
  <div class="topbar"><h1>Search and Savour listings on Etsy</h1></div>
    <div class="content">
    <div><div>
        <div>Select what you'd like to search</div>
        <div class="navbar">
            <div class="first"><a class="categorylink" href="#">Categories</a></div>
            <div><a class="userslink" href="#">Users</a></div>
            <div><a class="shopslink" href="#">Shops</a></div>
        </div>
      <form class="allcategories" action="/search" method="post">
        <select name="category">
          <option value="Accessories">Accessories</option>
          <option value="Art">Art</option>
          <option value="Bags and Purses">Bags and Purses</option>
          <option value="Bath and Beauty">Bath and Beauty</option>
          <option value="Books and Zines">Books and Zines</option>
          <option value="Candles">Candles</option>
          <option value="Ceramics and Pottery">Ceramics and Pottery</option>
          <option value="Children">Children</option>
          <option value="Clothing">Clothing</option>
          <option value="Crochet">Crochet</option>
          <option value="Dolls and Miniatures">Dolls and Miniatures</option>
          <option value="Everything Else">Everything Else</option>
          <option value="Furniture">Furniture</option>
          <option value="Geekery">Geekery</option>
          <option value="Glass">Glass</option>
          <option value="Holidays">Holidays</option>
          <option value="Housewares">Housewares</option>
          <option value="Jewelry">Jewelry</option>
          <option value="Knitting">Knitting</option>
          <option value="Music">Music</option>
          <option value="Needlecraft">Needlecraft</option>
          <option value="Paper Goods">Paper Goods</option>
          <option value="Patterns">Patterns</option>
          <option value="Pets">Pets</option>
          <option value="Plants and Edibles">Plants and Edibles</option>
          <option value="Quilts">Quilts</option>
          <option value="Supplies">Supplies</option>
          <option value="Toys">Toys</option>
          <option value="Vintage">Vintage</option>
          <option value="Weddings">Weddings</option>
          <option value="Woodworking">Woodworking</option>
        </select>  
        <input class="categorysearch" type="submit" value="submit">
      </form>     
    <div class="listings">Where the live listings will go</div>  
    <div class="footer">The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.</div>
  </div>
</div>



