<div class="container">
  <div class="topbar"><h1>Search and Savour listings on Etsy</h1></div>
  <div class="content">
  <div>some comment<div>
      <div>Type in what you'd like to see, grab a cup of coffee and the listings will update real-time</div>
      <form name="search" action='/search' method='post'>
        <input type='text' size="30" name="searchterm" placeholder="what would you like to see?" required/>
        <input type="submit" value="Go find it!" required/>
      </form> 

      <div class="listings">Where the live listings will go</div>  

  <div class="footer">The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.</div>
</div>
</div>
