<div class="container">
  <h1>Welcome! Search and sit back.</h1>
    <div>What is this app about?</div>
      <div>Type in what you'd like to see, grab a cup of coffee and the listings will update real-time</div>

      <div class="listings">Where the live listings will go</div>  

  <div class="disclaimer">The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.</div>
</div>
